.pageTitle {
	background-color: rgba(0, 0, 0, 0.938);
	font-family: "Rocher";
	text-align: center;
	color: white;
	font-size: 40px;
	margin-bottom: 5px;
	padding: 6px 0px;
	text-shadow: 2px 2px #a874a9;
}
